*, p, h1, h2, h3, h4, h5, h6, ul, .navbar{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    --main-color: #265078;
    --text-color: #022140;
    --identity-color: #CC0000;
    --light-gray-color: #E6E8ED;
    --white-color: #FDFDFD;
    --light-aqua-color: #ECF5FF;
    --light_aqua_opacity_50_color: rgba(236, 245, 255, 0.5);
    --secondary_font: "Open Sans", sans-serif;
    --transition-hover: all 0.2s ease-in-out;
}
body{
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
    line-height: unset;
}
body.no-scroll{
    overflow-y: hidden;
}
body.no-scroll::before {
    content: " ";
    position: absolute;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, .6);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    height: 1000000000px;
}
.navbar-toggler .header__toggleIconClose{
    display: none;
}
.navbar-toggler.opened .header__toggleIconMenu{
    display: none;
}
.navbar-toggler.opened .header__toggleIconClose{
    display: block;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler {
    border: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: .25s ease-out;
    border-radius: 8px;
}
.navbar-toggler:hover{
    background-color: var(--identity-color);
}
.navbar-toggler:hover svg path{
    fill: #fff;
}
/* Global variables */
 .bg_aqua_light_opacity{
    background-color: var(--light_aqua_opacity_50_color);
}
.bg_aqua_light{
    background-color: var(--light-aqua-color);
}
h2{
    font-size: 40px;
    font-weight: 700;
    line-height: 50.08px;
}
h2.secodary_font{
    font-family: var(--secondary_font);
}
h2 span{
    font-weight: 400;
}
h3{
    font-size: 30px;
    font-weight: 700;
    line-height: 37.56px;
}
h3 span{
    font-weight: 400;
}
h5{
    font-size: 18px;
}
.common_text{
    font-size: 18px;
    font-weight: 400;
    line-height: 37.62px;
}
.main_btn{
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    padding: 16px 30px;
    border: 0;
}
.main_btn:hover{
    background-color: var(--identity-color);
    color: #fff;
}
.site_btn{
    font-weight: 800;
    letter-spacing: 1.76px;
    border-radius: 56px;
    display: block;
    width: fit-content;
}
.form_btn{
    width: 100%;
    border-radius: 61px;
    font-weight: 600;
    margin-top: 25px;
    line-height: 24px;
}
.lg_btn{
    min-width: 254px;
}
.icon_box{
    height: 65px;
    min-width: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circled_icon_container{
    border-radius: 32.5px;
    background: linear-gradient(132.89deg, #265078 3.43%, #022140 100%);
    transition: var(--transition-hover);
    box-shadow: 0px 9px 10.3px 0px #26507891;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_container{
    background-color: var(--text-color);
    border-radius: 12px;
}
/* header */
.navbar-brand{
    color: var(--identity-color) !important;
    filter: drop-shadow(-1.44px 2.88px 2.88px #0000001A);
    font-size: 36.04px;
    font-weight: 900;
    line-height: 45.12px;
    letter-spacing: 0.05em;    
}
.navbar{
    transition: var(--transition-hover);
}
.navbar.fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
header .container-fluid{
    padding-left: 44px;
    padding-right: 64px;
    height: 72px;
    background-color: #fff;
    box-shadow: 0px 7px 5.7px 0px #0000000A;
    z-index: 99999;
}
.navbar-nav{
    gap: 65px;
}
.nav-link{
    text-transform: capitalize;
    position: relative;
    width: fit-content;
    transition: var(--transition-hover);
    color: var(--main-color) !important;
}
.nav-link.active::before{
    position: absolute;
    content: "";
    width: 100%;
    top: -10px;
    background-color: var(--identity-color);
    height: 5px;
    box-shadow: 0px 6px 8.5px 0px #CC000096;
    border-radius: 32px;
    left: 0;
}
.nav-link.active{
    color: var(--identity-color) !important;
    font-weight: 700;
}
.nav-link:not(.active):hover{
    color: var(--main-color) !important;
}
.nav-link.dropdown-toggle{
    padding: 10px 6px 9px 9px;
    border: 1px solid #BACEDE;
    background-color: #F2F8FD;
    border-radius: 7px;
}
.country_flag{
    border-radius: 4px;
}
/* hero */
.hero{
    background-color: #F2F5F8;
    text-align: center;
}
.main_hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 91px;
    background-image: url(../img/about_hero_img.webp);
    height: calc(100vh + 72px);
}
.employers_hero{
    padding-top: 43px;
}
.employers_hero .hero_text p{
    max-width: 560px;
    margin-bottom: 20px;
    margin-top: 0;
}
.branch_hero_img{

}
.hero_text h1{
    font-size: 55px;
    font-weight: 700;
    line-height: 68.86px;
}
.hero_text h1 span{
    font-weight: 300;
}
.hero_text p{
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 17px;
    margin-top: 12px;
    max-width: 693px;
    margin-inline: auto;
}
.hero .social_links{
    width: fit-content;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 62px;
}
.hero .social_links li a{
    background-color: rgba(255, 255, 255, 0.5);
}
.hero .social_links li a:hover svg path{
    fill: var(--white-color);
}
/* partner */
.partner{
    padding-top: 118px;
    padding-bottom: 105px;
}
.partner_inner_img{
    padding: 10px 0 10px 11px;
    background-color: #fff;
    bottom: -38px;
    left: 93px;
    width: fit-content;
}
.partner_text{
    max-width: 570px;
    padding-left: 16px;
}
.partner_text p{
    padding-right: 32px;
    margin-top: 24px;
}
/* location*/
.location{
    padding-top: 77px;
    padding-bottom: 130px;
}
.location .location_text h2{
    margin-bottom: 30px;
}
.location_text p{
    max-width: 559px;
}
.location_text p:not(:first-child){
    margin-bottom: 15px;
}
.world_map_col{
    position: absolute;
    right: 0;
}
/* cooperation_benefits */
.cooperation_benefits{
    padding-top: 38px;
    padding-bottom: 13px;
}
.cooperation_benefits h2{
    margin-bottom: 77px;
}
.benefit_svg_container, .benefit_svg_container_hover{
    bottom: 0;
    right: 0;
}
.benefit_svg_container_hover{
    display: none;
}
.cooperation_benefits .benefit{
    gap: 32px;
    padding-left: 34px;
    padding-right: 52px;
    min-height: 193px;
    border-radius: 25px;
    margin-bottom: 40px;
    transition: var(--transition-hover);
    overflow: hidden;
}
.benefit h5{
    font-weight: 700;
    margin-bottom: 5px;
}
.cooperation_benefits .benefit:hover{
    background-color: var(--main-color);
    color: #fff;   
    box-shadow: 0px 28px 33.6px 0px #02214054;
}
.cooperation_benefits .benefit:hover .circled_icon_container{
    background: #fff;
}
.cooperation_benefits .benefit:hover .circled_icon_container svg path{
    fill: var(--text-color);
}
.cooperation_benefits .benefit:hover .benefit_svg_container{
    display: none;
}
.cooperation_benefits .benefit:hover .benefit_svg_container_hover{
    display: block;
}
/* profile_cooperation*/
.profile_cooperation{
    padding-block: 126px;
}
.profile_cols{
    margin-top: 37px;
}
.profile_text{
    max-width: 531px;
}
.profile_parts{
    margin-top: 58px;
}
.profile_part{
    width: 167px;
}
.profile_text h2{
    margin-bottom: 21px;
}
.profile_part h5{
    margin-top: 12px;
    text-align: center;
    font-weight: 500;
    line-height: 30.62px;
    text-transform: uppercase;
}
/* Contact */
.contact_form{
    background-color: var(--light-gray-color);
    padding: 12px;
    border-radius: 13px;
    max-width: 592px;
}
form{
    box-shadow: 0px 22px 22.2px 0px #00000017;
    padding: 30px !important;
    border-radius: 14px;
    background-color: #fff;
}
.form_group{
    margin-bottom: 20px;
}
.form-check{
    margin-bottom: 15px;
}
.form-check-input:focus{
    box-shadow: none;
}
form label{
    line-height: 18.75px;
    color: #393261;
    margin-bottom: 16px !important;
}
form label.sm_label{
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 0 !important;
}
.form-check:has( .sm_label){
    margin-bottom: 0;
}
form label span{
    font-weight: 600;
}
.form-check-label{
    margin-left: 18px;
}
.form-control{
    border: 1px solid #3932613D;
    height: 50px;
    padding-inline: 16px;
    border-radius: 11px;
}
textarea.form-control{
    height: 100px;
}
.form-check-input:checked{
    background-color: var(--main-color);
    border: 1px solid var(--main-border);
}
.form-check-input{
    border: 1px solid #39326180;
    width: 20px;
    height: 20px;
    border-radius: 3px !important;
}
.form-control:focus{
    box-shadow: none;
    border-color: var(--main-color);
}
.contact_text {
    max-width: 606px;
}
/* Start Footer */
footer{
    background-color: var(--text-color);
    color: rgba(255, 255, 255, 1);
    padding-top: 39px;
    padding-bottom: 32px;
}
footer h3{
    font-size: 36.04px;
    font-weight: 900;
    line-height: 45.12px;
    letter-spacing: 0.05em;
    margin-bottom : 25px;
    width: fit-content;
}
footer h3 span{
    filter: drop-shadow(-1.44px 2.88px 0 rgba(0, 0, 0, 0.1));
}
footer ul{
    gap: 39px;
}
.social_links li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49px;
    height: 49px;
    border-radius: 34px;
    transition: background-color 0.2s ease-in-out;
}
footer .social_links li a{
    background-color: rgba(255, 255, 255, 0.06);
}
.social_links li a:hover{
    background-color: var(--main-color);
}
.copyright{
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 24px;
    margin-top: 32px;
    justify-content: space-between;
    text-align: center;
    opacity: 0.6;
}
.copyright a{
    color: rgba(255, 255, 255, 1);
}
/* End Footer */

/* ======================================= employers page styles ==================================*/
.employee_countries{
    padding-top: 173px;
    margin-bottom: 162px; 
    padding-bottom: 81px;
}
.employee_countries h3{
    margin-bottom: 49px;
    max-width: 590px;
}
.employer_map{
    left: 0;
    z-index: 2;
}
.employee_countries .country_div{
    background-color: #FFFFFF;
    padding: 5px 27px 5px 5px;
    width: fit-content;
    border-radius: 25px;
    gap: 8px;
    filter: drop-shadow(0px 13px 19px #0000000F);
    width: 195px;
}
.employee_countries .countries_div .country_div:not(:last-child){
    margin-bottom: 20px;
}
.all_countries{
    gap: 25px;
    z-index: 1;
    margin-inline: auto;
    width: fit-content;
}
.employee_countries .country_icon_con{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.country_div h5{
    font-weight: 600;
    line-height: 30.06px;
    text-transform: uppercase;
}
.employee_countries .countries_div h5{
    min-width: 195px;
}
.employee_countries .contact_form{
    position: absolute;
    margin-top: 21px;
    margin-right: 48px;
}
.employee_countries .common_text{
    max-width: 460px;
    margin-inline: auto;
}
.Our_job{
    background-image: url(../img/Our_job.png);
    padding-top: 116px;
    padding-bottom: 103px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}
.our_job_text{
    max-width: 796px;
    margin-inline: auto;
    text-align: center;
}
.our_job_text h3{
    padding-inline: 87px;
    margin-bottom: 20px;
}
.our_job_text .common_text{
    line-height: 32.4px;
}
.cooperation_benefits.employing_benefits{
    padding-top: 80px;
    padding-bottom: 40px;
}
.cooperation_benefits.employing_benefits h2{
    margin-bottom: 0;
}
.cooperation_benefits.employing_benefits .common_text{
    margin-bottom: 45px;
}
.employing_benefits .benefit{
    padding: 20px;
}
.benefit_upper{
    gap: 23px;
    margin-bottom: 20px;
}
.employing_benefits .benefit{
    min-height: 221px;
}
.employing_benefits .benefit p{
    line-height: 24px;
}
.employers_contact .contact_text h2{
    font-size: 36px;
    line-height: 52.27px;
    letter-spacing: 0.88px;
    margin-bottom: 50px;
}
.candidates_contact{
    padding-inline: 25px;
}
.contact_detail{
    max-width: 323px;
}
.contact .contact_detail:not(:last-child){
    margin-bottom: 30px;
}
.contact_icon_box{
    border-radius: 50%;
    background-color: rgba(38, 80, 120, 0.1); 
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact_detail span{
    font-size: 18px;
    font-weight: 500;
    line-height: 25.2px;
    text-align: left;
}
/* ======================================= Candidates page styles ==================================*/
.candidates_hero .hero_text{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:fit-content;
    text-align: center;
    color: #fff;
}
.candidates_hero .hero_text h1{
    font-size: 43px;
    font-weight: 900;
    line-height: 53.84px;
    letter-spacing: 0.08em;
    margin-bottom: 35px;
}
.candidates_hero .hero_text h4{
    font-size: 27px;
    font-weight: 500;
    line-height: 33.8px;
    margin-bottom: 25px;
}
.candidates_hero .hero_text h5{
    font-size: 19px;
    font-weight: 500;
    line-height: 23.79px;
    margin-bottom: 35px;
}
.offer_text h5{
    font-weight: 500;
    line-height: 21.41px;
    letter-spacing: 0.08em;
    margin-bottom: 15px;
}
.offer_text span{
    display: block;
    font-size: 15px;
    font-weight: 300;
    line-height: 17.84px;
    letter-spacing: 0.08em;
    text-align: justified;
    margin-bottom: 5px;
}
.alt_btn{
    font-size: 16px;
    font-weight: 800;
    line-height: 18.75px;
    letter-spacing: 0.11em;
    background-color: #fff;
    padding: 20px 43.5px 18px;
    border-radius: 10px;
    color: var(--text-color);
    transition: var(--transition-hover);
    display: block;
    width: fit-content;
}
.alt_btn:hover{
    background-color: var(--identity-color);
    color: #fff;
}
.job_offer{
    padding: 34.63px 16px 21.65px 16px;
    background-color: #fff;
    border-radius: 14px;
    border: 1px solid #FFFFFF;
    box-shadow: 10px 10px 33.6px 0px #0221400D;
    gap: 25px;
    margin-bottom: 36px;
}
.offer_img_container{
    width: 79px;
    max-height: 85.5px;
    border-radius: 14px;
    border: 1px solid #FFFFFF;
    overflow: hidden;
}
.endless_possibilities{
    padding-block: 39px;
    padding-inline: 149px;
}
.endless_possibilities .img-container{
    margin-top: 35px;
}
.endless_possibilities_text{
    padding-left: 24px;
}
.endless_possibilities_text h2{
    margin-bottom: 12px;
}
.endless_possibilities_text p, .services_text{
    padding-right: 76px;
}
.better_life_path{
    padding-block: 73px;
}
.better_life_path h2{
    margin-bottom: 21px;
}
.why_choose{
    padding-top: 95px;
    padding-bottom: 68px;
    padding-inline: 238px;
}
.why_choose h2{
    margin-bottom: 79px;
}
.why_choose .benefit{
    padding: 20px 13px 18px 23px;
    border-radius: 17px;
    margin-bottom: 28px;
    min-height: 255px;
}
.icon_box_60{
    width: 60px;
    height: 60px;
    background: #113457; 
    margin-bottom: 20px;
}
.why_choose .benefit h5{
    margin-bottom: 9px;
    line-height: 20px;
}
.why_choose .benefit p{
    font-weight: 300;
}
.services{
    padding-top: 47px;
    padding-bottom: 86px;
}
.services .services_text{
    margin-top: 22px;
}
.services h2{
    margin-bottom: 12px;
}
.services .form_btn{
    margin-top: 20px;
}
.candidates_contact form{
    padding-bottom: 54px !important;
    .main_btn{
        margin-top: 5px;
    }
}
/* ======================================= Partners page styles ==================================*/
.representative{
    padding-block: 80px;
}
.representative_text{
    padding-right: 57px;
    max-width: 550px;
}
.representative_text h2{
    margin-bottom: 10px;
}
.partners_services{
    padding-block: 45px;
}
.partners_services_text ol{
    max-width: 900px;
    margin-top: 19px;
}
.partners_services_text ol li.common_text{
    margin-bottom: 15px;
    line-height: 32.4px;
}
.partners_employees_countries{
    padding-top: 63px;
    padding-bottom: 80px;
}
.partners_employees_countries h2{
    max-width: 808px;
}
.em_country_container{
    width: 44px;
    min-width: 44px;
    height: 32px;
    border-radius: 7px;
}
.em_countries{
    padding-inline: 75px;
    margin-top: 54px;
}
.em_countries .country_div{
    padding: 9px 15px;
    min-width: 200px;
    border: 1px solid #D6DEE5;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 24px;
    gap: 14px;
    width: fit-content;
}
.em_countries .country_div h5{
    color: var(--main-color);
}
.partners_employees_countries p{
    color: #7A9BBB;
    font-size: 15px;
    line-height: 31.35px;
}
.partners_employees_countries h2{
    margin-bottom: 36px;
}
.best_partner{
    background-image: url(../img/best_partner_left.png), url(../img/best_partner_right.png);
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-color: var(--main-color);
    background-blend-mode: multiply;
}
.best_partner .container{
    padding-block: 92px;
}
.best_partner_text{
    color: #fff;
}
.best_partner_text p{
    margin-top: 15px;
}
.best_partner_svg{
    max-width: 767px;
}
/* ======================================= Contact page styles ==================================*/
.contact_loaction{
    position: relative;
    z-index: 0 !important;
}
.contact_offices{
    position: relative;
    gap: 24px;
    width: fit-content;
    padding-bottom: 143px;
    margin-top: -80px;
    z-index: 99;
}
.contact_office{
    padding: 33px 71px 38px 69px;
    border-radius: 19px;
    box-shadow: 0px 29px 40.2px 0px #00000012;
}
.contact_office h4{
    font-size: 25px;
    font-weight: 500;
    line-height: 31.3px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-bottom: 50px;
}
.cont_off_detail{
    padding-left: 32px;
}
.cont_off_detail:not(:last-child){
    margin-bottom: 49px;
}
.cont_off_icon{
    border-radius: 11px;
    background-color: var(--text-color);
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 22px;
}
.cont_off_detail .common_text{
    line-height: 21.6px;
}
/* ======================================= vacancy page styles ==================================*/
.work_Europe.container-fluid{
    padding-inline: 25px;
    padding-top: 13px;
}
.work_box_upper{
    margin-bottom: 60px;
}
.work_Europe .work_heading{
    color: var(--main-color);
    font-size: 49px;
    font-weight: 700;
    line-height: 61.35px;
    margin-bottom: 53px;
}
.text_title{
    color: var(--main-color);
}
.work_text .path_text{
    font-size: 14px;
    line-height: 17.53px;
    letter-spacing: 0.06em;
    position: relative;
    padding-left: 42px;
    margin-bottom: 22px;
}
.work_text .path_text:before{
    position: absolute;
    content: "";
    width: 24px;
    height: 2px;
    background-color: #000000;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 32px;
}
.svg_locat + p{
    letter-spacing: 0.08em;
}
.work_dev_head{
    padding: 19px 28px;
    border-radius: 81px;
    gap: 18px;
    margin-bottom: 22px;
}
.work_dev_head span{
    font-size: 20px;
    /* line-height: 45.6px; */
    /* padding-block: 8px; */
    letter-spacing: 0.08em;
}
.work_num{
    font-size: 84px;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0.08em;
}
.work_adv .common_text{
    font-size: 18px;
    line-height: 41.04px;
    letter-spacing: 0.08em;
    padding-inline: 15px;
}
.work_article p{
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.08em;
}
.work_article p:not(:last-child) {
    margin-bottom: 24px;
}
/* ======================================= Work page styles ==================================*/
.job_sum_img{
    max-width: 271px;
    margin-right: 15px;
    height: 197px;
    overflow: hidden;
}
.job_summary{
    padding: 12px 15px 17px 15px;
    background-color: #fff;
    box-shadow: 0px 29px 40.2px 0px #00000012;
    border-radius: 10px;
    margin-bottom: 22px;
}
.sum_item span{
    font-size: 16px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.08em;
}
.svg_sum{
    min-width: 40px;
    margin-right: 10px;
}
.summary_text h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 28.55px;
    letter-spacing: 0.08em;
    margin-bottom: 6px;
}
.job_add{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--main-color);
    right: 15px;
    bottom: 17px;
}
.work_Europe .main_btn{
    margin-top: 17px;
}
/* Responsiveness */
@media only screen and (min-width: 992px){
    .work_Europe.container-fluid{
        padding-inline: 72px;
        padding-top: 91px;
        padding-bottom: 74px;
    }
    .work_box{
        box-shadow: 0px 29px 40.2px 0px #00000012;
        border-radius: 20px; 
    }
    .work_box{
        padding: 42px 48px 18px 64px;
    }
    .work_article{
        margin-top: 42px;
        margin-bottom: 18px;
    }
    .work_article .text_title{
        margin-bottom: 18px;
    }
    .work_text .text_title{
        margin-bottom: 23px;
    }
    .text_title{
        font-size: 42px;
        font-weight: 400;
        line-height: 63px;
        letter-spacing: 0.04em;
    }
    .svg_locat + p{
        font-size: 24px;
    }
    .svg_locat{
        margin-right: 20px;
    }
    .job_offers{
        padding-inline: 225px;
        padding-top: 64px;
        padding-bottom: 51px;
    }
    .job_offers h3{
        margin-bottom: 45px;
    }
    .job_offers .main_btn{
        margin-top: 40px;
        padding-inline: 46px;
        min-width: 254px;
    }
    .job_offers .row > * {
        padding-right: 0;
    }
    .contact{
        padding-top: 67px;
        padding-bottom: 76px;
    }
    .employers_contact .contact_text{
        padding-left: 30px;
    }
    .contact_text h2{
        margin-bottom: 32px;
   }
   .contact_icon_box{
        width: 50px;
        min-width: 50px;
        height: 50px;
        margin-right: 20px;
   }
}
@media(max-width: 991px){
    header .container-fluid{
        height: 52px;
        padding-left: 20px;
        padding-right: 16px;
    }
    .navbar-collapse {
        right: -293px;
        height: calc(100vh - 52px);
        max-height: calc(100vh - 52px);
        background-color: #fff;
        position: absolute;
        top: 52px;
        width: 288px;
        padding: 16px 24px;
        z-index: 9999;
        text-align: left;
        transition: var(--transition-hover);
    }
    .navbar-collapse.show {
        right: 0;
    }
    .partner{
        padding-top: 40px;
        padding-bottom: 62px;
    }
    .partner.container{
        padding-inline: 28px;
    }
    .partner_text{
        padding-left: unset;
        margin-inline: auto;
    }
    .partner_text p{
        margin-top: 7px;
        margin-bottom: 20px;
        padding-right: unset;
    }
    .partner_imgs{
        padding-inline: 12px;
    }
    .profile_text{
        margin-inline: auto;
    }
    .profile_cols{
        margin-top: 30px;
    }
    .contact_text{
        margin-bottom: 32px;
    }
    .location{
        padding-top: 25px;
        padding-bottom: 12px;
    }
    .location_text h2{
        margin-bottom: 15px;
    }
    .world_map_col{
        position: unset;
        margin-top: 35px;
    }
    .location_text p:not(:first-child){
        margin-bottom: 10px;
    }
    .navbar-nav{
        gap: 52px;
        padding-top: 24px;
    }
}
@media (max-width:767px){
    .container{
        padding-left: 16px;
        padding-right: 16px;
    }
    .icon_box.circled_icon_container{
        width: 40px;
        height: 40px;
        min-width: 40px;
    }
    .circled_icon_container .benefit_svg{
        width: 22px;
    }
    /* header */
    .navbar-brand{
        font-size: 28.49px;
        line-height: 35.66px;
    }
    /* hero */
    .hero{
        padding-top: 30px;
        padding-inline: 28px;
        height: 357px;
    }
    .hero_text h1{
        font-size: 20px;
        line-height: 25.04px;
    }
    .hero_text p{
        line-height: 20.3px;
    }
    .hero .social_links{
        left: 16px;
    }
    /* partner */
    .partner_inner_img{
        left: 42px;
        padding: 5px 0 5px 6px ;
        bottom: -18px;
        right: -20px;
    }
    /* cooperation_benefits */
    .cooperation_benefits{
        padding-top: 50px;
        padding-bottom: 39px;
    }
    .cooperation_benefits h2{
        margin-bottom: 20px;
    }
    .benefit{
        padding: 15px 14px;
        gap: 13px;
        margin-bottom: 11px;
    }
    .benefit h5{
        font-size: 14px;
        font-weight: 600;
        line-height: 19.6px;
    }
    .benefit p{
        font-size: 12px;
        line-height: 18px;
    }
    /* profile_cooperation*/
    .profile_cooperation{
        padding-block: 30px;
    }
    .profile_text h2{
        margin-bottom: 13px;
    }
    .profile_part h5{
        margin-top: 10px;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }
    .icon_container{
        width: 43px;
        height: 43px;
        border-radius: 12px;
    }
    .svg_container{
        max-width: 27.78px;
    }
    /* contact */
    .common_text{
        font-size: 14px;
        font-weight: 400;
        line-height: 21.7px;
    }
    h2{
        font-size: 20px;
        font-weight: 700;
        line-height: 25.04px;
    }
    .contact{
        padding-top: 51px;
        padding-bottom: 62px;
    }
    .contact_text{
        margin-bottom: 51px;
    }
    .contact_text h2{
        margin-bottom: 13px;
    }
    .common_text{
        font-size: 14px;
        font-weight: 400;
        line-height: 21.7px;
    }
    form{
        padding: 30px 20px;
    }
    form label{
        font-size: 12px;
        font-weight: 400;
        line-height: 14.06px;
        margin-bottom: 12px !important;
    }
    .form-check-label {
        margin-left: 5px;
    }
    .form-check-input{
        width: 16px;
        height: 16px;
    }
    .form-control {
        height: 38px;
        padding-inline: 12px;
        border-radius: 6px;
    }
    .form_group{
        margin-bottom: 16px;
    }
    .form_btn{
        padding: 9.5px 12px;
        margin-top: 5px;
    }
    .work_Europe .work_heading{
        font-size: 18px;
        font-weight: 400;
        line-height: 22.54px;
    }
    .text_title{
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0.04em;
    }
    .work_text .text_title {
        margin-bottom: 5px;
    }
    .work_img{
        border-radius: 16px;
        margin-top: 15px;
        overflow: hidden;
    }
    .work_adv{
        margin-bottom: 27px;
    }
    .work_dev_head{
        padding: 7px 13px 9px;
    }
    .work_dev_head span{
        font-size: 10px;
        /* line-height: 22.8px; */
        letter-spacing: 0.08em;
    }
    .work_dev_svg svg{
        height: 14px;
        width: fit-content;
    }
    .work_dev_head{
        gap: 7px;
        margin-bottom: 15px;
    }
    .work_num{
        font-size: 37px;
    }
    .work_adv .common_text{
        font-size: 10px;
        line-height: 22.8px;
        padding-inline: unset;
        text-align: center;
    }
    .svg_locat + p{
        font-size: 12px;
    }
    .svg_locat{
        margin-right: 7px;
    }
    .work_article p{
        font-size: 12px;
        font-weight: 300;
        line-height: 16.8px;
        letter-spacing: 0.08em;
    }
    .work_article .text_title{
        font-size: 16px;
        margin-bottom: 10px;
        letter-spacing: 0.04em;
    }
    .svg_locat svg{
        height: 16px;
    }
    h3{
        font-size: 20px;
        line-height: 29.04px;
        letter-spacing: 0.055em;
    }
    .job_offers .container{
        margin-top: 25px;
        padding-block: 28px;
        padding-inline: 25px;
    }
    .job_offers h3{
        margin-bottom: 22px;
    }
    .job_offer{
        padding: 8px 7px;
        margin-bottom: 14px;
        gap: 12px;
    }
    .job_offers .main_btn{
        padding: 12px 16px;
        font-size: 10px;
        margin-top: 12px;
    }
    .offer_img_container{
        width: 40px;
        height: 40px;
        border-radius: 3px;
    }
    .offer_text h5{
        font-size: 14px;
        margin-bottom: 12px;
    }
    .employers_contact .contact_text h2{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 29.04px;
   }
   .contact .contact_detail:not(:last-child){
        margin-bottom: 12px;
   }
   .contact_detail span{
        font-size: 12px;
        line-height: 16.8px;
   }
   .contact_icon_box{
        width: 31.9px;
        min-width: 31.9px;
        height: 31.9px;
        margin-right: 12px;
   }
   .contact_icon_box svg{
    height: 12.52px;
   }
    /* footer */
    footer{
        padding-top: 25px;
        padding-bottom: 13px;
    }
    footer .container{
        padding-left: 0;
        padding-right: 0;
    }
    footer h3{
        margin-bottom: 30px;
    }
    .copyright{
        padding-left: 26px;
        padding-right: 26px;
        gap: 15px;
        padding-top: 15px;
        margin-top: 25px;
    }
    .fz_sm_14{
        font-size: 14px !important;
    }

}